## IMPORT LIBRARY

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

## READING DATASET

In [2]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

RowNumber, CustomerId, Surname dont have any import role in analysis so we can ignore this

## INDEPENDENT AND DEPEND VARIABLE

In [3]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [4]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

### Create dummy variables

In [5]:
geography = pd.get_dummies(X['Geography'], drop_first=True)
gender = pd.get_dummies(X['Gender'], drop_first=True)

In [6]:
X = pd.concat([X, geography, gender], axis=1)
X = X.drop(['Geography', 'Gender'], axis=1)

In [7]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

## TRAIN TEST SPLIT

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

## STANDARD SCALER

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

## KERAS LIBRARY FOR ANN SETUP

In [10]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [11]:
# Initialising the ANN
classifier = Sequential()

In [12]:
# Adding the first hidden layer
classifier.add(Dense(6,  kernel_initializer = 'he_uniform', activation = 'relu', input_dim = 11))

In [13]:
# Adding the second hidden layer
classifier.add(Dense(6, kernel_initializer = 'he_uniform',activation='relu'))

In [14]:
# Adding the output layer
classifier.add(Dense(1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

In [15]:
# Compiling the ANN
classifier.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [16]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Fitting the ANN to the Training set
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 10, epochs = 100)

Epoch 1/100
536/536 [==============================] - 1s 1ms/step - loss: 0.6331 - accuracy: 0.7149 - val_loss: 0.5681 - val_accuracy: 0.7705
Epoch 2/100
536/536 [==============================] - 1s 968us/step - loss: 0.5538 - accuracy: 0.7750 - val_loss: 0.5268 - val_accuracy: 0.7823
Epoch 3/100
536/536 [==============================] - 0s 739us/step - loss: 0.5184 - accuracy: 0.7843 - val_loss: 0.5010 - val_accuracy: 0.7887
Epoch 4/100
536/536 [==============================] - 0s 685us/step - loss: 0.4947 - accuracy: 0.7890 - val_loss: 0.4819 - val_accuracy: 0.7910
Epoch 5/100
536/536 [==============================] - 0s 690us/step - loss: 0.4783 - accuracy: 0.7919 - val_loss: 0.4690 - val_accuracy: 0.7929
Epoch 6/100
536/536 [==============================] - 0s 694us/step - loss: 0.4664 - accuracy: 0.7955 - val_loss: 0.4595 - val_accuracy: 0.7974
Epoch 7/100
536/536 [==============================] - 0s 679us/step - loss: 0.4570 - accuracy: 0.7996 - val_loss: 0.4519 - val_accuracy: 0.8027
Epoch 8/100
536/536 [==============================] - 0s 683us/step - loss: 0.4496 - accuracy: 0.8041 - val_loss: 0.4463 - val_accuracy: 0.8058
Epoch 9/100
536/536 [==============================] - 0s 711us/step - loss: 0.4440 - accuracy: 0.8050 - val_loss: 0.4414 - val_accuracy: 0.8065
Epoch 10/100
536/536 [==============================] - 0s 701us/step - loss: 0.4391 - accuracy: 0.8076 - val_loss: 0.4372 - val_accuracy: 0.8095
Epoch 11/100
536/536 [==============================] - 0s 681us/step - loss: 0.4348 - accuracy: 0.8099 - val_loss: 0.4337 - val_accuracy: 0.8103
Epoch 12/100
536/536 [==============================] - 0s 716us/step - loss: 0.4311 - accuracy: 0.8100 - val_loss: 0.4305 - val_accuracy: 0.8129
Epoch 13/100
536/536 [==============================] - 0s 679us/step - loss: 0.4275 - accuracy: 0.8117 - val_loss: 0.4275 - val_accuracy: 0.8122
Epoch 14/100
536/536 [==============================] - 0s 674us/step - loss: 0.4240 - accuracy: 0.8121 - val_loss: 0.4247 - val_accuracy: 0.8148
Epoch 15/100
536/536 [==============================] - 0s 683us/step - loss: 0.4209 - accuracy: 0.8156 - val_loss: 0.4223 - val_accuracy: 0.8141
Epoch 16/100
536/536 [==============================] - 0s 677us/step - loss: 0.4178 - accuracy: 0.8181 - val_loss: 0.4198 - val_accuracy: 0.8160
Epoch 17/100
536/536 [==============================] - 0s 681us/step - loss: 0.4147 - accuracy: 0.8192 - val_loss: 0.4173 - val_accuracy: 0.8190
Epoch 18/100
536/536 [==============================] - 0s 677us/step - loss: 0.4117 - accuracy: 0.8196 - val_loss: 0.4149 - val_accuracy: 0.8194
Epoch 19/100
536/536 [==============================] - 0s 698us/step - loss: 0.4085 - accuracy: 0.8225 - val_loss: 0.4125 - val_accuracy: 0.8209
Epoch 20/100
536/536 [==============================] - 0s 716us/step - loss: 0.4055 - accuracy: 0.8263 - val_loss: 0.4104 - val_accuracy: 0.8213
Epoch 21/100
536/536 [==============================] - 0s 666us/step - loss: 0.4029 - accuracy: 0.8281 - val_loss: 0.4083 - val_accuracy: 0.8220
Epoch 22/100
536/536 [==============================] - 0s 683us/step - loss: 0.4003 - accuracy: 0.8304 - val_loss: 0.4062 - val_accuracy: 0.8220
Epoch 23/100
536/536 [==============================] - 0s 737us/step - loss: 0.3978 - accuracy: 0.8304 - val_loss: 0.4044 - val_accuracy: 0.8247
Epoch 24/100
536/536 [==============================] - 0s 677us/step - loss: 0.3953 - accuracy: 0.8334 - val_loss: 0.4024 - val_accuracy: 0.8258
Epoch 25/100
536/536 [==============================] - 0s 683us/step - loss: 0.3928 - accuracy: 0.8365 - val_loss: 0.4004 - val_accuracy: 0.8258
Epoch 26/100
536/536 [==============================] - 0s 790us/step - loss: 0.3904 - accuracy: 0.8362 - val_loss: 0.3988 - val_accuracy: 0.8258
Epoch 27/100
536/536 [==============================] - 0s 754us/step - loss: 0.3879 - accuracy: 0.8371 - val_loss: 0.3971 - val_accuracy: 0.8258
Epoch 28/100
536/536 [==============================] - 0s 754us/step - loss: 0.3856 - accuracy: 0.8390 - val_loss: 0.3953 - val_accuracy: 0.8281
Epoch 29/100
536/536 [==============================] - 0s 720us/step - loss: 0.3830 - accuracy: 0.8390 - val_loss: 0.3935 - val_accuracy: 0.8273
Epoch 30/100
536/536 [==============================] - 0s 761us/step - loss: 0.3808 - accuracy: 0.8399 - val_loss: 0.3916 - val_accuracy: 0.8270
Epoch 31/100
536/536 [==============================] - 0s 670us/step - loss: 0.3784 - accuracy: 0.8397 - val_loss: 0.3899 - val_accuracy: 0.8292
Epoch 32/100
536/536 [==============================] - 0s 707us/step - loss: 0.3763 - accuracy: 0.8405 - val_loss: 0.3882 - val_accuracy: 0.8300
Epoch 33/100
536/536 [==============================] - 0s 748us/step - loss: 0.3741 - accuracy: 0.8421 - val_loss: 0.3866 - val_accuracy: 0.8300
Epoch 34/100
536/536 [==============================] - 0s 739us/step - loss: 0.3721 - accuracy: 0.8427 - val_loss: 0.3853 - val_accuracy: 0.8311
Epoch 35/100
536/536 [==============================] - 0s 733us/step - loss: 0.3701 - accuracy: 0.8434 - val_loss: 0.3838 - val_accuracy: 0.8323
Epoch 36/100
536/536 [==============================] - 0s 806us/step - loss: 0.3683 - accuracy: 0.8447 - val_loss: 0.3823 - val_accuracy: 0.8330
Epoch 37/100
536/536 [==============================] - 0s 672us/step - loss: 0.3667 - accuracy: 0.8444 - val_loss: 0.3812 - val_accuracy: 0.8326
Epoch 38/100
536/536 [==============================] - 0s 824us/step - loss: 0.3650 - accuracy: 0.8457 - val_loss: 0.3801 - val_accuracy: 0.8334
Epoch 39/100
536/536 [==============================] - 0s 804us/step - loss: 0.3638 - accuracy: 0.8449 - val_loss: 0.3792 - val_accuracy: 0.8330
Epoch 40/100
536/536 [==============================] - 0s 732us/step - loss: 0.3623 - accuracy: 0.8459 - val_loss: 0.3780 - val_accuracy: 0.8326
Epoch 41/100
536/536 [==============================] - 0s 698us/step - loss: 0.3611 - accuracy: 0.8464 - val_loss: 0.3772 - val_accuracy: 0.8342
Epoch 42/100
536/536 [==============================] - 0s 677us/step - loss: 0.3600 - accuracy: 0.8479 - val_loss: 0.3762 - val_accuracy: 0.8353
Epoch 43/100
536/536 [==============================] - 0s 772us/step - loss: 0.3589 - accuracy: 0.8468 - val_loss: 0.3757 - val_accuracy: 0.8357
Epoch 44/100
536/536 [==============================] - 0s 678us/step - loss: 0.3578 - accuracy: 0.8492 - val_loss: 0.3749 - val_accuracy: 0.8383
Epoch 45/100
536/536 [==============================] - 0s 679us/step - loss: 0.3571 - accuracy: 0.8481 - val_loss: 0.3741 - val_accuracy: 0.8383
Epoch 46/100
536/536 [==============================] - 0s 688us/step - loss: 0.3562 - accuracy: 0.8500 - val_loss: 0.3737 - val_accuracy: 0.8383
Epoch 47/100
536/536 [==============================] - 0s 674us/step - loss: 0.3556 - accuracy: 0.8494 - val_loss: 0.3735 - val_accuracy: 0.8379
Epoch 48/100
536/536 [==============================] - 0s 682us/step - loss: 0.3549 - accuracy: 0.8494 - val_loss: 0.3732 - val_accuracy: 0.8398
Epoch 49/100
536/536 [==============================] - 0s 672us/step - loss: 0.3542 - accuracy: 0.8505 - val_loss: 0.3725 - val_accuracy: 0.8398
Epoch 50/100
536/536 [==============================] - 0s 692us/step - loss: 0.3534 - accuracy: 0.8492 - val_loss: 0.3722 - val_accuracy: 0.8406
Epoch 51/100
536/536 [==============================] - 0s 765us/step - loss: 0.3529 - accuracy: 0.8511 - val_loss: 0.3718 - val_accuracy: 0.8410
Epoch 52/100
536/536 [==============================] - 0s 749us/step - loss: 0.3524 - accuracy: 0.8507 - val_loss: 0.3715 - val_accuracy: 0.8417
Epoch 53/100
536/536 [==============================] - 0s 852us/step - loss: 0.3518 - accuracy: 0.8502 - val_loss: 0.3712 - val_accuracy: 0.8402
Epoch 54/100
536/536 [==============================] - 0s 843us/step - loss: 0.3513 - accuracy: 0.8503 - val_loss: 0.3709 - val_accuracy: 0.8402
Epoch 55/100
536/536 [==============================] - 0s 675us/step - loss: 0.3508 - accuracy: 0.8515 - val_loss: 0.3706 - val_accuracy: 0.8391
Epoch 56/100
536/536 [==============================] - 0s 701us/step - loss: 0.3503 - accuracy: 0.8524 - val_loss: 0.3701 - val_accuracy: 0.8410
Epoch 57/100
536/536 [==============================] - 0s 677us/step - loss: 0.3499 - accuracy: 0.8513 - val_loss: 0.3698 - val_accuracy: 0.8410
Epoch 58/100
536/536 [==============================] - 0s 711us/step - loss: 0.3495 - accuracy: 0.8517 - val_loss: 0.3697 - val_accuracy: 0.8398
Epoch 59/100
536/536 [==============================] - 0s 686us/step - loss: 0.3492 - accuracy: 0.8530 - val_loss: 0.3692 - val_accuracy: 0.8425
Epoch 60/100
536/536 [==============================] - 0s 702us/step - loss: 0.3488 - accuracy: 0.8518 - val_loss: 0.3691 - val_accuracy: 0.8402
Epoch 61/100
536/536 [==============================] - 0s 679us/step - loss: 0.3484 - accuracy: 0.8513 - val_loss: 0.3691 - val_accuracy: 0.8413
Epoch 62/100
536/536 [==============================] - 0s 815us/step - loss: 0.3478 - accuracy: 0.8518 - val_loss: 0.3696 - val_accuracy: 0.8410
Epoch 63/100
536/536 [==============================] - 0s 777us/step - loss: 0.3478 - accuracy: 0.8528 - val_loss: 0.3686 - val_accuracy: 0.8410
Epoch 64/100
536/536 [==============================] - 0s 686us/step - loss: 0.3473 - accuracy: 0.8530 - val_loss: 0.3681 - val_accuracy: 0.8429
Epoch 65/100
536/536 [==============================] - 0s 664us/step - loss: 0.3469 - accuracy: 0.8530 - val_loss: 0.3679 - val_accuracy: 0.8429
Epoch 66/100
536/536 [==============================] - 0s 668us/step - loss: 0.3466 - accuracy: 0.8522 - val_loss: 0.3677 - val_accuracy: 0.8429
Epoch 67/100
536/536 [==============================] - 0s 664us/step - loss: 0.3462 - accuracy: 0.8548 - val_loss: 0.3673 - val_accuracy: 0.8444
Epoch 68/100
536/536 [==============================] - 0s 671us/step - loss: 0.3458 - accuracy: 0.8545 - val_loss: 0.3671 - val_accuracy: 0.8451
Epoch 69/100
536/536 [==============================] - 0s 674us/step - loss: 0.3452 - accuracy: 0.8545 - val_loss: 0.3670 - val_accuracy: 0.8455
Epoch 70/100
536/536 [==============================] - 0s 666us/step - loss: 0.3446 - accuracy: 0.8543 - val_loss: 0.3671 - val_accuracy: 0.8466
Epoch 71/100
536/536 [==============================] - 0s 673us/step - loss: 0.3443 - accuracy: 0.8546 - val_loss: 0.3665 - val_accuracy: 0.8485
Epoch 72/100
536/536 [==============================] - 0s 679us/step - loss: 0.3438 - accuracy: 0.8550 - val_loss: 0.3666 - val_accuracy: 0.8489
Epoch 73/100
536/536 [==============================] - 0s 668us/step - loss: 0.3433 - accuracy: 0.8554 - val_loss: 0.3661 - val_accuracy: 0.8493
Epoch 74/100
536/536 [==============================] - 0s 664us/step - loss: 0.3426 - accuracy: 0.8550 - val_loss: 0.3658 - val_accuracy: 0.8497
Epoch 75/100
536/536 [==============================] - 0s 675us/step - loss: 0.3422 - accuracy: 0.8546 - val_loss: 0.3656 - val_accuracy: 0.8501
Epoch 76/100
536/536 [==============================] - 0s 666us/step - loss: 0.3419 - accuracy: 0.8559 - val_loss: 0.3654 - val_accuracy: 0.8493
Epoch 77/100
536/536 [==============================] - 0s 666us/step - loss: 0.3414 - accuracy: 0.8558 - val_loss: 0.3654 - val_accuracy: 0.8501
Epoch 78/100
536/536 [==============================] - 0s 664us/step - loss: 0.3411 - accuracy: 0.8561 - val_loss: 0.3652 - val_accuracy: 0.8493
Epoch 79/100
536/536 [==============================] - 0s 669us/step - loss: 0.3408 - accuracy: 0.8567 - val_loss: 0.3650 - val_accuracy: 0.8501
Epoch 80/100
536/536 [==============================] - 0s 672us/step - loss: 0.3403 - accuracy: 0.8567 - val_loss: 0.3649 - val_accuracy: 0.8501
Epoch 81/100
536/536 [==============================] - 0s 670us/step - loss: 0.3400 - accuracy: 0.8569 - val_loss: 0.3645 - val_accuracy: 0.8508
Epoch 82/100
536/536 [==============================] - 0s 674us/step - loss: 0.3396 - accuracy: 0.8569 - val_loss: 0.3645 - val_accuracy: 0.8497
Epoch 83/100
536/536 [==============================] - 0s 662us/step - loss: 0.3393 - accuracy: 0.8559 - val_loss: 0.3640 - val_accuracy: 0.8508
Epoch 84/100
536/536 [==============================] - 0s 666us/step - loss: 0.3390 - accuracy: 0.8571 - val_loss: 0.3638 - val_accuracy: 0.8501
Epoch 85/100
536/536 [==============================] - 0s 681us/step - loss: 0.3388 - accuracy: 0.8561 - val_loss: 0.3636 - val_accuracy: 0.8508
Epoch 86/100
536/536 [==============================] - 0s 750us/step - loss: 0.3387 - accuracy: 0.8578 - val_loss: 0.3636 - val_accuracy: 0.8512
Epoch 87/100
536/536 [==============================] - 0s 667us/step - loss: 0.3383 - accuracy: 0.8580 - val_loss: 0.3632 - val_accuracy: 0.8519
Epoch 88/100
536/536 [==============================] - 0s 671us/step - loss: 0.3383 - accuracy: 0.8578 - val_loss: 0.3630 - val_accuracy: 0.8523
Epoch 89/100
536/536 [==============================] - 0s 665us/step - loss: 0.3379 - accuracy: 0.8600 - val_loss: 0.3629 - val_accuracy: 0.8519
Epoch 90/100
536/536 [==============================] - 0s 668us/step - loss: 0.3378 - accuracy: 0.8591 - val_loss: 0.3626 - val_accuracy: 0.8527
Epoch 91/100
536/536 [==============================] - 0s 670us/step - loss: 0.3375 - accuracy: 0.8580 - val_loss: 0.3626 - val_accuracy: 0.8516
Epoch 92/100
536/536 [==============================] - 0s 668us/step - loss: 0.3373 - accuracy: 0.8589 - val_loss: 0.3625 - val_accuracy: 0.8527
Epoch 93/100
536/536 [==============================] - 0s 672us/step - loss: 0.3372 - accuracy: 0.8589 - val_loss: 0.3621 - val_accuracy: 0.8531
Epoch 94/100
536/536 [==============================] - 0s 667us/step - loss: 0.3369 - accuracy: 0.8591 - val_loss: 0.3621 - val_accuracy: 0.8531
Epoch 95/100
536/536 [==============================] - 0s 661us/step - loss: 0.3369 - accuracy: 0.8595 - val_loss: 0.3619 - val_accuracy: 0.8538
Epoch 96/100
536/536 [==============================] - 0s 673us/step - loss: 0.3367 - accuracy: 0.8593 - val_loss: 0.3616 - val_accuracy: 0.8538
Epoch 97/100
536/536 [==============================] - 0s 665us/step - loss: 0.3365 - accuracy: 0.8600 - val_loss: 0.3615 - val_accuracy: 0.8527
Epoch 98/100
536/536 [==============================] - 0s 675us/step - loss: 0.3362 - accuracy: 0.8602 - val_loss: 0.3614 - val_accuracy: 0.8538
Epoch 99/100
536/536 [==============================] - 0s 677us/step - loss: 0.3362 - accuracy: 0.8602 - val_loss: 0.3615 - val_accuracy: 0.8538
Epoch 100/100
536/536 [==============================] - 0s 772us/step - loss: 0.3359 - accuracy: 0.8595 - val_loss: 0.3610 - val_accuracy: 0.8538

In [18]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred

array([[0.2550273 ],
       [0.24735153],
       [0.17066845],
       ...,
       [0.11201751],
       [0.09608349],
       [0.19294941]], dtype=float32)

In [19]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [20]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1531,   64],
       [ 216,  189]], dtype=int64)

In [21]:
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score

0.86